<div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><b>Mariana Lopes</b></mat-card-title>
      <mat-card-subtitle>22/09/2018</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://i.dailymail.co.uk/i/pix/2007/08_02/womanfaceDM1308_468x361.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      CPF <br>482.569.789-89
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="closeDialog()">Fechar</button>
    </mat-card-actions>
  </mat-card>
</div>