<div class="spinner_container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<mat-card class="title-card"><button mat-stroked-button color="primary" (click)="openDialog()">Detectar Face </button></mat-card>


<div *ngFor="let client of clients; let i = index" [attr.data-index]="i" style="display: inline-block; cursor: pointer; ">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><b>{{client.nome}}</b></mat-card-title>
      <mat-card-subtitle *ngFor="let face of client.face">Confiança: {{face.cantidates[0].confidence | percent: '1.2-2'
        }}</mat-card-subtitle>
    </mat-card-header>
    <span *ngFor="let face of client.face">
      <div id="{{i}}" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> -->

        {{i}}
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div [ngClass]="(i===0)?'item active':'item'" *ngFor="let base64image of face.base64image" >
              <img src="{{base64image}}" alt="Los Angeles" style="width:100%;">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#{{i}}" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#{{i}}" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </span>
    <mat-card-content>
      CPF <br>{{client.cpf}}
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>Selecionar</button> -->
    </mat-card-actions>
  </mat-card>
</div>