<div class="spinner_container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<mat-card class="title-card"><button mat-stroked-button color="primary" (click)="openDialog()">Detectar Face </button></mat-card>

<div *ngFor="let client of clients"
 (click)="openDialogDetail()" style="display: inline-block; cursor: pointer; ">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><b>{{client.nome}}</b></mat-card-title>
      <mat-card-subtitle *ngFor="let face of client.face" >Confiança: {{face.cantidates[0].confidence | percent: '1.2-2' }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image *ngFor="let face of client.face" src="{{face.base64image}}">
    <mat-card-content>
      CPF <br>{{client.cpf}}
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>Selecionar</button> -->
    </mat-card-actions>
  </mat-card>
</div>
