<div class="spinner_container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div *ngFor="let client of clients; let i = index" [attr.data-index]="i"
  style="display: inline-block; cursor: pointer; ">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><b>{{client.nome}}</b></mat-card-title>
    </mat-card-header>
    <span *ngFor="let face of client.face">
        <div id="{{i}}" class="carousel slide" data-ride="carousel">
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div [ngClass]="(i===0)?'item active':'item'" *ngFor="let base64image of face.base64image; let i = index" [attr.data-index]="i">
              <img src="{{base64image}}" alt="Los Angeles" style="width:100%;">
            </div>
          </div>
  
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#{{i}}" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#{{i}}" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  
      </span>
  </mat-card>
</div>
