/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.mat-snack-bar-container {
    color: white !important;
    background: #3f51b5 !important;
}

.mat-simple-snackbar-action {
    color: #ffffff;
}

.spinner_container {
    border-radius: 10px;
    height: 70px;
    left: 40%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    z-index: 3;
    /* opacity: 0.5; */
}
