
<div class="spinner_container" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="registerForm">
    <form [formGroup]="registerForm">
      <ng-template matStepLabel>Contato</ng-template>
      <mat-form-field class="margin-extends-input">
        <input matInput placeholder="Nome Completo" formControlName="name" required>
      </mat-form-field>
      <br>
      <mat-form-field class="margin-input">
        <input matInput placeholder="RG" (keyup)="RgRegex($event)" formControlName="rg" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="CPF" (keyup)="cpfRegex($event)" formControlName="cpf" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Telefone" formControlName="telefone" required>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="E-mail" formControlName="email" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Proximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Face</ng-template>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{registerForm.value.name}}</mat-card-title>
          <mat-card-subtitle>data de nascimento</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <img *ngIf="cameraService.context" src="{{ cameraService.context }}" height="444" width="540"/>
            <button mat-raised-button color="primary" (click)="openDialog()">Tirar Foto</button>
          <mat-form-field *ngIf="false" >
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field>
        </mat-card-content>
      </mat-card>

      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext (click)="proxPhoto()">Proximo</button>
      </div>

    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Concluir</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Voltar</button>
      <button mat-button (click)="stepper.reset()">Resertar Formulário</button>
      <button mat-button (click)="checkRegister(registerForm.value)">Concluir</button>
    </div>
  </mat-step>
</mat-vertical-stepper>